*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-size: cover;
    background: linear-gradient(60deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 23%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 77%, rgb(255, 0, 243) 100%); 
    background-attachment: fixed;
    color: #f8f9fa;
    font-family: 'Calibri', sans-serif;
    animation: animatedgradient 7s ease alternate infinite; 
    background-size: 300% 300%; 
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  

.pin-container {
    display: grid;
    height: 96vh;
    justify-items: center;
    align-content: center;
}

.pin-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
}

.pin-title{
    font-size: 45px;
    color: #ff4646; 
    /* #3ae23a; */
    vertical-align:middle;
}

.pin-keypad{
    display: grid;
    row-gap: 2.5vh;
}

.pin-row{
    display: flex;
    column-gap: 2.5vh;
}

button{
    font-size: 2vw;
    width: 5.2vw;
    height: 5vw;
    border-radius: 1.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414; 
    color: #f8f9fa;
    border: 2px solid #ff4646;
    transition: 0.2s ease-in-out;
}

svg{
    width: 4vh;
}

button:hover {
    cursor: pointer;
    color: #ff4646;
    background-color: #230909; 
    border: 3px solid #a78c8c;
    transform:scale(1.1)
}

button:active {
    cursor: pointer;
    transform:scale(1.2)
}

.reset{
    font-size: 35px;
    font-weight: 600;
}


.welcome-image{
    width: 30vw;
    z-index: 12;
    position: absolute;
    top: 8vh;
    visibility: hidden;
}

.welcome-image img{
    border-radius: 5%;
}

.details{
    margin-top: 5px;
}

