.navbar{
    position: sticky;
    width: 100%;
    height: 65px;
    top:0;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
	background-color: #0c0c0c;
	z-index: 1000;
}

.navbar-left{
    display: flex;
    padding-left: 60px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    column-gap: 35px;
    font-size: 18px;
    
}

.navbar-left a{
    text-decoration: none;
    color: #d1d1d1;
}

.navbar-left a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 1px 0px 0px #f00;
    
  }

.logo-img{
    width: 60px;
}

.navbar-right{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-right: 75px;
	position: relative;
}


/* `````````````````````````SEARCH BOX STARTS`````````````````````````*/

.navbar-search-box {
	background: #151515;
	text-align: center;
	width: 100%;
}

.navbar-search-box:before,
.navbar-search-box:after {
	content: '';
	display: block;	
	height: 1px;
}

.navbar-search-box:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
}

.navbar-search-box:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);	
}

.navbar-search-box input {
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 500px;
}

.ie .navbar-search-box input {
	line-height: 40px;
}

.navbar-search-box input::-webkit-input-placeholder {
   color: #888;
}

.navbar-search-box input:-moz-placeholder {
   color: #888;
}

.navbar-search-box input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.navbar-search-box input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.navbar-search-box input:focus:-moz-placeholder {
	color: #efe;
}

.navbar-search-box button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.navbar-search-box button:hover,
.navbar-search-box button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.navbar-search-box button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

/* `````````````````````````SEARCH BOX ENDS`````````````````````````*/


.navbar-search-results{
	display: grid;
    position: absolute;
    top: 60px;
    right: 78px;
    background: #292929;
    width: 81%;
    row-gap: 10px;
    padding: 2%;
    border-radius: 8px;
}

a{
	text-decoration: none;
	color: inherit;
}

.search-results{
	list-style-type: none;
}

.search-results-link:hover .search-results{
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	color: #6f6;
	border-radius: 10px;
}

.search-results-title{
	text-transform: uppercase;
}

.search-results-box{
	display: flex;
    flex-direction: column;
}

.search-results{
	height: 30px;
    display: flex;
    align-items: center;
	text-transform: capitalize;
	padding: 0 0.7vw;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	line-height: 30px;
}

.search-results-title{
	height: 30px;
	display: flex;
    align-items: center;
	padding: 0 0.7vw;
}

.navbar-search-poster{
    position: absolute;
    top: 75px;
    right: 665px;
}

.navbar-populate{
	width: 25px;
    margin-right: 30px;
	cursor: pointer;
}

.navbar-populate:hover {
	transform:scale(1.1)
}
  
.navbar-populate:active {
	transform:scale(1.2)
}
