.video-banner-slide {
  /* background: linear-gradient(#2a2a2a, #141414); */
  position: relative;
  display: flex;
  transition: 0.8s ease-in-out;
}

.video-banner-slide-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1em;
}

.video-banner-toggle-mute-container{
  width: 51em;
  height: 9em;
  position: absolute;
  top: 30em;
  right: 7vw;
}

.video-banner-toggle-mute-container:hover .video-banner-toggle-mute {
  opacity: 1;
}

.video-banner-toggle-mute {
  padding: 0.5em;
  position: absolute;
  cursor: pointer;
  background: rgb(20 20 20 / 30%);
  border-radius: 50%;
  border: 0.15em solid;
  bottom: 3.5em;
  right: 2em;
  opacity: 0;
}

.video-banner-toggle-mute:hover {
  background: rgb(20 20 20 / 60%);
  transform: scale(1.1);
 
}
.video-banner-toggle-mute:active {
  transform: scale(1.2);
}

.video-banner-slide-button {
  background-repeat: no-repeat;
  background-size: 2.5em 2.5em;
  background-position: 50%;
  height: 28em;
  width: 7em;
  position: absolute;
  z-index: 20;
  opacity: 0;
}

.video-banner-slide-left {
  background-image: url("/static/images/left.png");
  left: 1%;
  top: 12vh;
  cursor: pointer;
}

.video-banner-slide-right {
  background-image: url("/static/images/right.png");
  right: 1%;
  top: 12vh;
  cursor: pointer;
}

.video-banner-slide-right:hover {
  opacity: 1;
}

.video-banner-slide-left:hover {
  opacity: 1;
}

.banner-tag-image {
  position: relative;
  top: 0px;
  height: 2em;
}
