.video-card {
  --video-card-theme: #fff;
  width: 385px;
  height: 319px;
  border: 1px solid var(--video-card-theme);
  border-radius: 14px;
  color: var(--video-card-theme);
  max-height: 510px;
  transition: max-height 0.25s ease-in;
  background-color: #141414;
}

.video-card:hover {
  height: 374px;
  width: 429px;
  max-height: 900px;
  overflow: hidden;
  transform: scale(1.15);
  z-index: 10;
  transition: 0.5s ease-in;
  /* font-size: 88%; */
  /* font-size: 15px; */
  /* font-size: 0.88rem; */
  font-size: 0.95rem;
}

.video-card a {
  text-decoration: none !important;
  color: var(--video-card-theme);
}

.preview-video-container {
  width: 100%;
  height: 72%;
  border-radius: 13px 13px 0px 0px;
}

.preview-video-box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.preview-video {
  width: 100%;
  height: 100%;
  border-radius: 13px 13px 0px 0px;
  object-fit: cover;
}

.advert-details {
  display: grid;
  align-content: center;
  padding: 0 6%;
  row-gap: 0.3vh;
  border-radius: 0px 0px 13px 13px;
  align-items: center;
  height: 28%;
}

.advert-details-title {
  text-align: center;
  font-size: 100%;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2px;
}

.progress-bar-total {
  position: relative;
  width: 70%;
  height: 5px;
  background-color: #5b5b5b;
  border-radius: 1px;
}

.progress-bar-current {
  position: absolute;
  top: -5px;
  width: 50%;
  height: 5px;
  background-color: var(--video-card-theme);
  border-radius: 1px;
  margin-top: 5px;
}

.progress-bar {
  position: absolute;
  top: -1vh;
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
}

.advert-details-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4%;
  margin-right: -5px;
  font-size: 13px;
  display: none;
}

.cast-container,
.category-container {
  display: flex;
  text-transform: capitalize;
  column-gap: 1.5vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: none;
  font-size: 78%;
}

.video-card:hover .cast-container {
  display: flex;
}

.video-card:hover .category-container {
  display: flex;
}

.video-card:hover .advert-details-heading {
  display: flex;
}

.video-card:hover .progress-bar {
  display: flex;
}

.video-card:hover .cast-container {
  display: flex;
}

.video-card:hover .advert-details {
  position: relative;
  height: 32%;
  box-shadow: inset 0px 0px 9px 1px var(--video-card-theme);
}

.video-card:hover .advert-details-title {
  font-size: 100%;
  text-align: left;
  margin-bottom: 0;
  -webkit-line-clamp: 1;
}

.video-card:hover .preview-video-container{
  height: 68%;
}

.video-card:hover .image-tag-container {
  display: none;
}

.image-tag-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-tag {
  position: absolute;
  height: 50px;
  top: -40px;
}

.duration-tag {
  position: absolute;
  top: -29px;
  left: 16px;
  background-color: #141414;
  color: #f8f9fa;
  padding: 2px 6px;
  border-radius: 5px;
  height: 20px;
  line-height: 15px;
}

.subtitle-tag {
  /* position: absolute;
  top: -54px;
  right: 10px;
  width: 50px; */
  position: absolute;
  top: -29px;
  right: 16px;
  background-color: #141414;
  color: #f8f9fa;
  padding: 2px 6px;
  border-radius: 5px;
  height: 20px;
  line-height: 15px;
}

.cast-block {
  display: flex;
  align-content: center;
  transform: 0.5s ease-in;
  align-items: center;
  column-gap: 9px;
}

.cast-block img {
  width: 15px;
  display: none;
}

.cast-block:hover img {
  display: block;
}

.cast-block:hover a {
  transform:scale(1.1);
}

.category-block:hover{
  transform:scale(1.1);
}

.video-card:hover .video-advert-buttons-container{
  display: flex;
}

.video-advert-buttons-container{
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 25px;
  margin-top: 4px;
}

.video-advert-button{
  display: flex;
  cursor: pointer;
  column-gap: 9px;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
}

.video-advert-button:hover {
  transform:scale(1.1)
}

.video-advert-button:active {
  transform:scale(1.2)
}
