.video-card {
  --video-card-text-color: #fff;
  --video-card-border-color: #fff;
  --video-card-theme: #fff;
  --video-card-glow: #fff;
  --video-card-background: linear-gradient(to bottom, #323232 0%, #343434 40%, #000000 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);

  width: 21.7em;
  height: 18em;
  border: 1px solid var(--video-card-border-color);
  border-radius: 0.7em;
  color: var(--video-card-text-color);
  /* max-height: 510px; */
  transition: max-height 0.25s ease-in;
  background-image: var(--video-card-background);
  background-blend-mode: multiply;
}

.video-card:hover {
  width: 25.65em;
  height: 22.21em;
  /* max-height: 900px; */
  overflow: hidden;
  transform: scale(1.15);
  z-index: 10;
  transition: 0.5s ease-in;
  font-size: 0.95em;
}

.video-card a {
  text-decoration: none !important;
  color: var(--video-card-text-color);
}

.preview-video-box {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.preview-video {
  width: 100%;
  height: 100%;
  border-radius: 0.7em 0.7em 0px 0px;
  object-fit: cover;
}

.preview-video-container {
  width: 100%;
  height: 70%;
  border-radius: 0.7em 0.7em 0px 0px;
}

.advert-details {
  display: grid;
  align-content: center;
  padding: 0 1.4em;
  row-gap: 0.25em;
  border-radius: 0px 0px 0.7em 0.7em;
  align-items: center;
  height: 30%;
}

.advert-details-title {
  text-align: center;
  font-size: 1em;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.2em;
}

.progress-bar-total {
  position: relative;
  width: 60%;
  height: 0.47em;
  background-color: #5b5b5b;
  border-radius: 0.1em;
}

.progress-bar-current {
  position: absolute;
  top: -0.34em;
  width: 50%;
  height: 0.4em;
  background-color: var(--video-card-theme);
  border-radius: 0.1em;
  margin-top: 0.37em;
}

.progress-bar {
  position: absolute;
  top: -1.8em;
  width: 100%;
  display: flex;
  justify-content: center;
  display: none;
}

.advert-details-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2em;
  /* margin-right: -5px; */
  font-size: 0.75em;
  display: none;
}

.cast-container,
.category-container {
  display: flex;
  text-transform: capitalize;
  column-gap: 0.3em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  display: none;
  font-size: 0.78em;
}

.video-card:hover .cast-container {
  display: flex;
  column-gap: 0.3em;
}

.video-card:hover .category-container {
  display: flex;
  column-gap: 0.3em;
}

.video-card:hover .advert-details-heading {
  display: flex;
}

.video-card:hover .progress-bar {
  display: flex;
  align-items: center;
  column-gap: 0.8em;
}

.progress-bar-text{
  font-size: 0.8em;
  font-weight: 600;
  background: var(--video-card-theme);
  color: #141414;
  padding: 0.1em 0.3em;
  border-radius: 0.4em;
  text-transform: none;
  /* border: 1px solid #141414; */
}

/* .video-card:hover .cast-container {
  display: flex;
} */

.video-card:hover .advert-details {
  position: relative;
  height: 33%;
  /* box-shadow: inset 0px 0px 9px 1px var(--video-card-theme); */
}

.video-card:hover .advert-details-title {
  font-size: 100%;
  text-align: left;
  margin-bottom: 0;
  -webkit-line-clamp: 1;
}

.video-card:hover .preview-video-container{
  height: 67%;
}

.video-card:hover .image-tag-container {
  display: none;
}

.image-tag-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-tag {
  position: absolute;
  height: 2.5em;
  top: -2.8em;
}

.duration-tag {
  display: flex;
  position: absolute;
  top: -1.9em;
  left: 1em;
  background-color: #141414;
  color: #f8f9fa;
  padding: 0.3em 0.4em;
  border-radius: 0.4em;
  /* height: 20px; */
  line-height: 1em;
  align-items: center;
}

.subtitle-tag {
  /* position: absolute;
  top: -54px;
  right: 10px;
  width: 50px; */
  position: absolute;
  top: -1.7em;
  right: 1em;
  background-color: #141414;
  color: #f8f9fa;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
  /* height: 20px; */
  line-height: 1em;
}

.cast-block, .category-block {
  display: flex;
  align-content: center;
  transform: 0.5s ease-in;
  align-items: center;
  column-gap: 1.2em;
}

.cast-block svg, .category-block svg {
  cursor: pointer;
  transition: width 0.3s ease-in;
  overflow: hidden;
  width: 0px;
}

.cast-block svg:hover, .category-block svg:hover {
  transform:scale(1.2);
}

.cast-block:hover svg, .category-block:hover svg {
  width: 1.5em;
  margin-right: 1.3em;
}

.cast-block:hover a, .category-block:hover a {
  transform:scale(1.1);
}

.video-card:hover .video-advert-buttons-container{
  display: flex;
}

.video-advert-buttons-container{
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1.3em;
  margin-top: 0.1em;
}

.video-advert-button{
  display: flex;
  cursor: pointer;
  column-gap: 0.9em;
  flex-direction: row;
  font-size: 0.7em;
  align-items: center;
}

.video-advert-button:hover {
  transform:scale(1.1)
}

.video-advert-button:active {
  transform:scale(1.2)
}

.video-advert-button-text{
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  transition: 0.4s ease-in-out;
  text-align: left;
}

.video-advert-button:hover .video-advert-button-text{
  max-width: 100%
}

.advert-views-box{
  display: flex;
  column-gap: 0.5em;
  align-items: center;
}

.animate-background:hover{
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  
