.video-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-radius: 18px; */
  justify-items: start;
  padding: 0 8vw;
}

.banner-video-container {
  width: 100%;
  max-height: 50vh;
  /* border-radius: 18px; */
  cursor: pointer;
}

.banner-video {
  width: 100%;
  border-radius: 2em 5em;
  height: 100%;
  object-fit: cover;
}

.banner-video-details {
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: start;
  row-gap: 1.15em;
  padding: 0px 1em;
}

.banner-video-title {
  font-size: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Nexa", sans-serif;
}

.banner-cast-container {
  position: relative;
  display: flex;
  min-width: 0;
  flex: 1;
  gap: 1.4em;
  width: 37vw;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.banner-cast-container::-webkit-scrollbar {
  display: none;
}

.banner-category-container {
  display: flex;
  column-gap: 1.3em;
  text-transform: uppercase;
  font-size: 1em;
  /* margin-bottom: 6px; */
}

.banner-details-container {
  display: flex;
  font-size: 1em;
  column-gap: 1.5em;
}

.banner-details-container div {
  display: flex;
  column-gap: 0.6em;
  align-items: center;
}

.banner-cast-block .star-card {
  font-size: 0.77em;
}


.banner-cast-block {
  position: sticky;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.star-banner-slide-button {
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 50%;
  height: 100%;
  width: 3em;
  position: absolute;
  z-index: 20;
  opacity: 0;
}

.star-banner-slide-left {
  background-image: url("/static/images/left.png");
  left: -6%;
  cursor: pointer;
}

.star-banner-slide-right {
  background-image: url("/static/images/right.png");
  right: -6%;
  cursor: pointer;
}

.banner-cast-box{
  position: relative;
}

.star-banner-slide-right:hover {
  opacity: 1;
}

.star-banner-slide-left:hover {
  opacity: 1;
}

.banner-category {
  cursor: pointer;
}
