.video-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border-radius: 18px; */
  justify-items: start;
  padding: 0 8vw;
}

.banner-video-container {
  width: 100%;
  height: 590px;
  border-radius: 18px;
  cursor: pointer;
}

.banner-video {
  width: 100%;
  border-radius: 5px 5px 18px 18px;
  height: 100%;
  object-fit: cover;
}

.banner-video-details {
  display: grid;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: start;
  row-gap: 25px;
  padding: 0px 65px;
}

.banner-video-title {
  font-size: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner-cast-container {
  display: flex;
  min-width: 0;
  flex: 1;
  gap: 20px;
  font-size: 22px;
}

.banner-category-container {
  display: flex;
  column-gap: 10px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.banner-category-container,
.banner-details-container {
  font-size: 20px;
}

.banner-details-container {
  display: flex;
  column-gap: 35px;
}

.banner-details-container div{
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.banner-cast-block .star-card {
  width: 160px;
  height: 240px;
}

.banner-cast-block {
  position:sticky;  
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.banner-cast-block .star-details {
  height: 40px;
}

.banner-cast-block .star-play-button {
  height: 30px;
  padding: 3px 24px;
  font-size: 17px;
}

.banner-cast-block .star-card:hover {
    width: 170px;
    height: 304px;
    overflow: hidden;
  }
