.scrp-adverts-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
    padding-top: 0.6em;
    margin-left: 5%;
    width: 92%;
    margin-bottom: 3em;
    font-size: 0.9em;
    align-content: flex-start;
}

.scrp-card{
    width: 50em;
    height: 42em;
    overflow: hidden;
    background: #2e2e2e;
    border-radius: 1em;
}

.scrp-btn-span-grey{
    background: #2e2e2e!important;
}

.scrp-btn-span-grey:hover{
    background: transparent!important;
}

.scrp-card-img img{
    width: 100%;
    height: 100%;
}

.scrp-card-details-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.scrp-card-details-container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    /* row-gap: 1em; */
    height: 20%;
    justify-content: center;
}

.scrp-card-img {
    width: 100%;
    height: 80%;
}

.scrp-card-title-main {
    padding: 0 1em;
    font-size: 1.1em;
}
