.video-player-container{
    display: grid;
}

.video-player-categories-pane{
    display: flex;
    column-gap: 25px;
    text-transform: uppercase;
    align-items: center;
}

.video-player-categories-box{
    display: flex;
    column-gap: 15px;
}

.video-player-cast-box{
    display: flex;
    column-gap: 30px;
}

.video-player-details-pane{
    display: flex;
    column-gap: 35px;
}

.video-player-details-pane div{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.video-player-cast-pane{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.video-player-series-pane{
    margin-bottom: 10px;
}

.video-player-title h1{
    margin: 0;
}

.video-player-details{
    display: grid;
    padding-left: 4%;
    row-gap: 21px;
    padding-top: 18px;
    margin-bottom: 50px;
}

.watch-next-container{
    width: 100vw;
}

.player-cast-buttons-container{
    display: flex;
    column-gap: 20px;
}

.player-categories-buttons-container{
    display: flex;
    column-gap: 15px;
}

.player-cast-buttons-container img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.player-categories-buttons-container img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-favourite-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-cast-buttons-container img:hover, .player-categories-buttons-container img:hover, .player-favourite-button:hover{
    transform:scale(1.2)
}

.player-cast-buttons-container img:active, .player-categories-buttons-container img:active, .player-favourite-button:active{
    transform:scale(1.3)
}

.player-buttons-add-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  