.video-player-container{
    display: grid;
}

.video-player-categories-pane{
    display: flex;
    column-gap: 25px;
    text-transform: uppercase;
    align-items: center;
}

.video-player-categories-box{
    display: flex;
    column-gap: 15px;
}

.video-player-cast-box{
    display: flex;
    column-gap: 30px;
}

.video-player-details-pane{
    display: flex;
    column-gap: 35px;
}

.video-player-details-pane div{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.video-player-cast-pane{
    display: flex;
    column-gap: 35px;
    align-items: center;
    margin-top: 6px;
}

.video-player-series-pane{
    margin-bottom: 10px;
}

.video-player-title h1{
    margin: 0;
    background: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.video-player-title{
    margin-bottom: -6px;
    font-family: 'Nexa', sans-serif;
}

.video-player-details{
    display: grid;
    padding-left: 4%;
    row-gap: 21px;
    padding-top: 23px;
    margin-bottom: 50px;
}

.watch-next-container{
    width: 100vw;
}

.player-cast-buttons-container{
    display: flex;
    column-gap: 25px;
}

.player-categories-buttons-container{
    display: flex;
    column-gap: 20px;
}

.player-cast-buttons-container img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.player-categories-buttons-container img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-favourite-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-cast-buttons-container img:hover, .player-categories-buttons-container img:hover, .player-favourite-button:hover img{
    transform:scale(1.2)
}

.player-cast-buttons-container img:active, .player-categories-buttons-container img:active, .player-favourite-button:active{
    transform:scale(1.3)
}

.player-buttons-add-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
    position: relative;
  }
  
.favourites-text{
    width: 0;
    margin-left: 10px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
    user-select: none;
}

.player-favourite-button:hover .favourites-text{
    width: 175px;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0;
}