
.paginator-container{
    display: flex;
    column-gap: 20px;
    font-size: 18px;
    justify-content: center;
    border-style: solid;
    border-width: 1px 0;
    padding: 12px 0;
}

.current-page{
    font-weight: 600;
    background-color: #2d4848;
}   

.paginator-item:hover{
    cursor: pointer;
    color: #8bd8d8e1;
    font-weight: 600;
}

.paginator-item{
    width: 60px;
    height: 45px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}

.right-skip, .left-skip{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
