.closed-captions-container {
  position: absolute;
  align-items: center;
  bottom: 60px;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.7px black;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  width: 100%;
}
