.timeline-container {
  height: 10px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 7px;
  width: 100%;
  position: relative;
}

.timeline-container:hover .timeline {
  height: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: #3ae23a;
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: #3ae23a;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
  }

  .video-container.scrubbing .thumbnail-img {
    display: block;
  }
  
  .video-container.scrubbing .preview-img,
  .timeline-container:hover .preview-img {
    display: block;
  }
  
  .video-container.scrubbing .timeline::before,
  .timeline-container:hover .timeline::before {
    display: block;
  }
  
  .video-container.scrubbing .thumb-indicator,
  .timeline-container:hover .thumb-indicator {
    --scale: 1;
  }

  .timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
  }
