<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Media Surfer</title>
    {% load static %}
    <script src="{% static "frontend/jquery-3.6.1.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static "frontend/main.css" %}"
    />
  </head>
  <body>
    <div id="root">
    </div>

    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>