.star-poster{
    width: 100%;
    height: 80%;
    cursor: pointer;
}

.star-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px 7px 0px 0px;
    z-index: -10;
}

.star-card{
    width: 200px;
    height: 320px;
    border-radius: 8px;
    border-color: var(--star-card-border-color);
    border-style: solid;
    border-width: 1px;
    transition: 0.6s ease-in-out;
    background-color: #141414; 
}

.star-details{
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    align-content: space-around;
    height: 20%;
    border-radius: 0px 0px 8px 8px;
    align-items: center;
    justify-content: center;
    color: var(--star-card-text-color);
    background: var(--star-card-background);
}

.star-title{
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    grid-column: 1/-1;
    text-align: center;
}

.star-videos, .star-views{
    display: none;
    align-items: center;
    justify-content: center;
}

.star-play-button{
    display: none;
    cursor: pointer;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--star-card-text-color);
    border-radius: 9px;
}

.star-play-button:hover {
    transform:scale(1.05)
}

.star-play-button:active {
  transform:scale(1.1)
}

.star-card:hover{
    height: 405px;
    width: 215px;
}

.star-card:hover .star-poster{
    height: 68%;
}

.star-card:hover .star-details{
    height: 32%;
    padding: 10px 0;
}

.star-card:hover .star-title{
    margin-bottom: 0px;
}

.star-card:hover .star-buttons-container{
    display: flex;
}

.star-card:hover .star-play-button{
    display: inline-block;
}

.star-card:hover .star-views{
    display: flex;
}

.star-card:hover .star-videos{
    display: flex;
}

.star-banner{
    position: relative;
}

.star-banner img{
    position: absolute;
    top: 7px;
    right: 7px;
}

.star-watch-time-container{
    position: relative;
}

.star-watch-time{
    position: absolute;
    bottom: 7px;
    /* background: #00000096; */
    color: var(--star-card-text-color);
    background: var(--star-card-theme);
    padding: 1px 7px;
    right: 10px;
    border-radius: 8px;
    line-height: 18px;
    height: 23px;
}

.star-videos, .star-views{
    display: none;
    column-gap: 8px;
    padding-right: 2px;
}

.total-time-text{
    font-size: 12px;
}

.star-videos{
    cursor: pointer;
}

.star-card:hover .star-videos{
    display: flex;
}

.star-card:hover .star-views{
    display: flex;
}

.star-card:hover .star-title{
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.star-buttons-container{
    display: none;
    grid-column: 1/-1;
    justify-content: space-evenly;
    align-items: center;
}

.star-buttons-container:hover .star-button{
    opacity: 1;
    transform: 0px;
}

.star-button{
    width: 27px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.star-button:hover{
    transform:scale(1.2);
}

.star-button:active{
    transform:scale(1.3);
}

