.star-poster{
    width: 100%;
    height: 80%;
    cursor: pointer;
}

.star-card:hover .star-poster{
    height: 68%;
}

.star-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.45em 0.45em 0px 0px;
    z-index: -10;
}

.star-card{
    width: 12em;
    height: 19.2em;
    border-radius: 0.5em;
    border-color: var(--star-card-border-color);
    border-style: solid;
    border-width: 1px;
    transition: 0.6s ease-in-out;
    background-color: #141414; 
}

.star-card:hover{
    width: 12.9em;
    height: 22.3em;
}

.star-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    height: 20%;
    border-radius: 0px 0px 0.5em 0.5em;
    align-items: center;
    justify-content: center;
    color: var(--star-card-text-color);
    background: var(--star-card-background);
}

.star-card:hover .star-details{
    height: 32%;
    padding: 0.5em 0;
}

.star-title{
    font-size: 1.17em;
    font-weight: 500;
    text-transform: capitalize;
    grid-column: 1/-1;
    text-align: center;
}

.star-play-button{
    display: none;
    cursor: pointer;
    padding: 0.22em 1.2em;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--star-card-text-color);
    border-radius: 0.5em;
    transition: 0.3s ease-in-out;
}

.star-play-button:hover {
    transform:scale(1.06)
}

.star-play-button:active {
    transform:scale(1.12)
}

.star-card:hover .star-title{
    margin-bottom: 0px;
}

.star-card:hover .star-buttons-container{
    display: flex;
}

.star-card:hover .star-play-button{
    display: inline-block;
}

.star-card:hover .star-videos{
    display: flex;
}

.star-banner{
    position: relative;
}

.star-banner img{
    position: absolute;
    top: 0.45em;
    right: 0.45em;
}

.star-watch-time-container{
    position: relative;
}

.star-watch-time{
    position: absolute;
    bottom: 0.45em;
    /* background: #00000096; */
    color: var(--star-card-text-color);
    background: var(--star-card-theme);
    padding: 0.1em 0.45em;
    right: 0.65em;
    border-radius: 0.35em;
    line-height: 1.2em;
    /* height: 1.4em; */
}

.star-videos{
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.star-card:hover .star-videos{
    display: flex;
}

.star-views{
    display: none;
    column-gap: 0.4em;
    align-items: center;
    justify-content: center;
}

.star-card:hover .star-views{
    display: flex;
}

.total-time-text{
    font-size: 0.9em;
}


.star-card:hover .star-title{
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.star-buttons-container{
    display: none;
    grid-column: 1/-1;
    justify-content: space-evenly;
    align-items: center;
}

.star-buttons-container:hover .star-button{
    opacity: 1;
    transform: 0px;
}

.star-button{
    width: 1.4em;
    display: flex;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.star-button:hover{
    transform:scale(1.2);
}

.star-button:active{
    transform:scale(1.3);
}

.star-info{
    display: none;
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.4em;
}

.star-card:hover .star-info{
    display: flex;
}

.star-videos-label{
    font-size: 0.85em;
}